@use 'custom' as *;



.simbol {
    font-size: larger;
    font-weight: bold;
    color: $secondary;
}

.items {
    font-size: larger;
    font-weight: bold;
    
}

.items:hover{
    transform: scale(1.1, 1.1);
    .simbol {
        color: $primary;
        font-size: smaller;
    }
}

.logo {
    width: 30px;
    height: auto;

}

.navbar-toggler {
    padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
    @include font-size($navbar-toggler-font-size);
    line-height: 1;
    background-color: transparent; // remove default button style
    border: $border-width solid transparent; // remove default button style
    @include border-radius($navbar-toggler-border-radius);
    @include transition($navbar-toggler-transition);
  
    &:hover {
      text-decoration: none;
    }
  
    &:focus {
      text-decoration: none;
      outline: 0;
      box-shadow: 0 0 1px 2px $primary;
    }
  }